@import '../css/sass/base/__reset.scss'; 
@import '../css/sass/base/__wrapper.scss'; 
@import '../css/sass/helpers/__colors.scss'; 
@import '../css/sass/helpers/__mixins.scss'; 
header {
    background: url('../img/bgheader.jpg') center center no-repeat;

    background-size: cover;
}
.top{
    display: flex;
    justify-content: space-around;
    &__image{
        cursor: pointer;
        width: 15%;
        height: 70px;
        margin: 20px 0 21px 0;
    }
    &__list {
        list-style: none;
        display: flex;
        margin: 42px 0 0 0;
        &--item {
            margin: 0 20px;
            font:500 16px 'Roboto', sans-serif;
            text-transform: uppercase;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.baner {
    &__img {
        max-width: 100%;
        width: 100%;
    }
    &__desc {
        position: absolute;
        top: 300px;
        margin: 0 auto;
        left: 0;
        width: 60%;
        right: 0;
        &--head {
            font:400 36px 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #fff;
            padding: 0;
            margin: 0 auto;
        }
        &--nexthead {
            font:500 60px 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #fff;
            padding: 0;
            margin: 0 auto;
        }
        &--smalltext {
            font:500 18px 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #fff;
            padding: 0;
            margin: 0 auto 30px;
        }
        &--btn {
            font-family: 'Damion', cursive;
            background: $contactBg;
            width: 240px;
            height: 60px;
            border: 1px solid  $contactBg;
            display: flex;
            line-height: 60px;
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-size: 30px;
            text-align: center;
            justify-content: center;
        }
    }
}
.aboutsec {
    &__heading {
        text-align: center;
        padding: 60px 0 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        margin: 0;
        color: #828282;
        &::after {
            border-bottom: 2px solid #02c6d8;
            position: absolute;
            top: 110px;
            display: block;
            right: 0;
            left: 0;
            width: 10%;
            content: "";
            margin: 0 auto;
        }
    }
    &__desc{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #828282;
        text-align: center;
    }
    &__text{
        display: inline-flex;
        background: #f6f6f6;
        margin: 30px 0 0 0;
        &--desc{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                line-height: 30px;
                padding: 75px;
        }
        a{
            color: $footerBorderTop;
            text-decoration: none;
        }
    }
}
.boxcontent {
    display: flex;
    justify-content: space-around;
}
.clientsSay {
    &__head{
        text-align: center;
        padding: 60px 0 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        margin: 0;
        color: #828282;
        &::after {
            border-bottom: 2px solid #02c6d8;
            position: absolute;
            top: 110px;
            display: block;
            right: 0;
            left: 0;
            width: 10%;
            content: "";
            margin: 0 auto;
        }
    }
    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #828282;
        text-align: center;
        margin: 10px 0 80px 0;
        line-height: 30px;
    }
    &__box {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        margin: 0 20px;
        &--text{
            font-family: 'Roboto', sans-serif;
            text-align: justify;
            color: #a6a6a6;
            font-style: italic;
            line-height: 25px;
        }
        &--img {
            width: 20%;
            height: auto;
        }
        &--personimg {
            width: 20%;
            height: auto;
            margin: 0 auto;
        }
        &--personheading {
            font-family: 'Damion', cursive;
            font-size: 24px;
            color: #9975c3;
            margin: 0 auto;
            padding: 0;
        }
        &--personlink {
            font-family: 'Damion', cursive;
            font-size: 18px;
            margin: 0 auto;
            padding: 0;
            text-decoration: none;
            color: #6cd6e3;
        }
    }
}
.dobestbg {
    background: $doTheBest;
    height: 774px;
}
/**/
.bgwhite {
    background: #fff;
    -webkit-box-shadow: 10px 10px 101px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 101px 0px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 101px 0px rgba(0,0,0,0.32);
    width: 95%;
    margin: 0 auto;
}
.dobest {
    &__header {
        text-align: center;
        padding: 60px 0 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        margin: 0;
        color: #828282;
        &::after {
            border-bottom: 2px solid #02c6d8;
            position: absolute;
            top: 110px;
            display: block;
            right: 0;
            left: 0;
            width: 10%;
            content: "";
            margin: 0 auto;
        }
    }
    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #828282;
        text-align: center;
        line-height: 35px;
        width: 90%;
        margin: 40px auto 35px;
    }
    &__box {
        display: inline-flex;
        flex-direction: column;
        width: 49%;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        &--head {
            color: $contactBg;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            &__mod {
                color:#02c6d8 !important;
            }
        }
        &--text{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            text-align: center;
            width: 70%;
            margin: 0 auto;
            line-height: 25px;
        }
        a {
            width: 170px;
            height: 40px;
            line-height: 40px;
            background: $footerBorderTop;
            justify-content: center;
            display: flex;
            margin: 15px auto 20px;
            font-family: 'Damion', cursive;
            text-decoration: none;
            color: #fff;
            font-size: 25px;
        }
        .secondBtn {
            background:$footerColor;
        }
        img {
            width: 20%;
            margin: 0 auto;
            text-align: center;
        }
    }
}
.contactus {
    background: $contactBg;
    height: 140px;
    margin: 80px 0 0 0;
}
.contactussec {
    display: flex;
    justify-content: flex-start;
    &__text{
        margin: 35px 40px 0 0;
        h3{
            font: 500 26px 'Roboto', sans-serif;
            color: #fff;
            margin: 0;
            padding: 0;
        }
        p{
            font: 400 16px 'Roboto', sans-serif;
            color: #fff;
            margin: 0;
            padding: 0;
        }
    }
    &__form {
        margin: 38px 40px 0 0;
        display: flex;
        input{
            font: 400 16px 'Roboto', sans-serif;
            width: 250px;
            height: 44px;
            margin: 0 15px 0 0;
            text-indent: 5px;
        }
        a{
            background: $footerBorderTop;
            width: 150px;
            height: 50px;
            display: flex;
            color: #fff;
            font-family: 'Damion', cursive;
            font-size: 25px;
            line-height: 50px;
            text-align: center;
            text-decoration: none;
            justify-content: center;
        }
    }
}
.workWithUs {
    background: url('../img/keyBord.jpg') center center no-repeat;
    height: 548px;
    margin: 50px 0 0 0px;
    background-size: cover;
    &__text{
        @include workWithUsText;
        @include centerThings;
        width: 50%;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        width: 55%;
        line-height: 50px;
        padding: 140px 0 30px 0;
        margin: 0px auto;
        color: #fff;
        text-align: center;
    }
    &__btn {
        @include centerThings;
        margin: 0 auto;
        background: $footerBorderTop;
        width: 250px;
        height: 50px;
        display: flex;
        font: 400 24px 'Damion', cursive;
        text-decoration: none;
        line-height: 50px;
        color:#fff;
    }
}
/**/
footer{
    background: $footerColor;
    border-top:2px solid $footerBorderTop;
}
.botmenu {
    @include centerThings;
    list-style: none;
    width: 100%;
    margin: 35px auto;
    &__item {
        margin: 0 20px;
        padding: 0 30px 0 0;
        border-right: 1px solid $footerMenuColor;
        a{
            @include bottomMenu;
        }
    }
}
.botImg {
    @include centerThings;
    margin: 50px auto 35px auto;
}
.socials {
    @include centerThings;
    list-style: none;
    padding: 0 0px 10px 0;
    margin: 0;
    &__item {
        margin: 0 10px;
        a   {
        color: $footerMenuColor;
        font-size: 25px !important;
        text-decoration: none;
        }
    } 
}
/**/
.fa-arrow-up {
    position: fixed;
    top: 940px;
    font-size: 1.5em;
    right: 10px;
    color: #000;
    cursor: pointer;
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    background: #e46e48;
    text-decoration: none;
    display: none;
    &:hover {
        transition: all 250ms ease-in;
        color: rgba(0, 0, 0, 0.8);
    }
}
.show {
    display: block;
    position: fixed;
    top: 940px;
    font-size: 1.5em;
    right: 10px;
    color: #000;
    cursor: pointer;
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    background: #e46e48;
    text-decoration: none;
    &:hover {
        transition: all 250ms ease-in;
        color: rgba(0, 0, 0, 0.8);
    }
}
.hide {
    display: none;
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%
  }
  