@mixin bottomMenu {
    font: 400 20px 'Roboto', sans-serif;
    color: $footerMenuColor;
    text-decoration: none;
}
@mixin centerThings {
    display: flex;
    justify-content: center;
}
@mixin workWithUsText{
    font: 400 24px 'Roboto', sans-serif;
    color: $footerMenuColor;
    text-align: justify;
}